.main{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.courses{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}