<div class="adv_box" >
    <img src="assets/Screenshot (270).png" class="animation" alt="">
    <div class="content">
        <h1>Empowering learners</h1>
        <p>Our platform offers interactive learning, real-world projects,
            and a community of peers and mentors to support your journey.</p>
        <h1>Why Choose Us?</h1>
        <p>✅ Hands-on Projects: Build real-world apps from scratch.</p>
        <p>✅ Expert Instructors: Learn from industry professionals.</p>
        <p>✅ Flexible Learning: Access anytime, anywhere.</p>
        <p>✅ Certification: Show off your skills on LinkedIn and your resume</p>
    </div>
</div>