

<div class="dialog-overlay" *ngIf="isOpen">
    <div class="dialog-box">
      <div class="dialog-header">
        <h3>Login</h3>
        <button class="close-btn" (click)="closeDialog()">&times;</button>
      </div>
      <div class="dialog-body">
        <div class="main">
          <div id="g_id_onload"
          data-client_id="405862266846-jvm2kvjtps79hfmbmeoasviu65tho88i.apps.googleusercontent.com"
          data-callback="handleCredentialResponse">
      </div>
      <div class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left">
      </div>
        </div>
      </div>
    </div>
</div>
