

<nav>
    <div class="logo">
        <h1 class="icon">SquManual</h1>
    </div>
    <div class="main">
        <ul>
            <li><a href="/viewcourses">Courses</a></li>
            <li class="Categories">
                <a href="/viewcourses">Categories</a>
                <div class="dropdown">
                    <ul>
                        <a id="cata" (click)="selectfromcategory(8)">Development</a>
                        <a id="cata" (click)="selectfromcategory(9)">Marketing</a>
                        <a id="cata" (click)="selectfromcategory(10)">Fitness</a>
                        <a id="cata" (click)="selectfromcategory(11)">Design</a>
                        <a id="cata" (click)="selectfromcategory(12)">Social Media</a>
                        <a id="cata" (click)="selectfromcategory(13)">Social Science</a>
                    </ul>
                </div>
            </li>
            <li><a *ngIf="!loginStatus" href="/login" id="Sign-In" >sign in</a></li>
            <li><a href="/mylearning" *ngIf="loginStatus">My learning</a></li>
            <li><a href="/wishlistedcourses" *ngIf="loginStatus">Wishlist</a></li>
            <li class="Categories" ><a href="/profile" *ngIf="loginStatus" class="profile"><svg xmlns="http://www.w3.org/2000/svg" class="course-image" viewBox="0 0 512 512"><path d="M256 73.825c-100.613 0-182.18 81.562-182.18 182.17a182.18 182.18 0 0 0 364.36 0c0-100.608-81.572-182.17-182.18-182.17zm.553 268.12h-78.93c0-56.91 49.98-56.901 61.07-71.773l1.27-6.793c-15.582-7.893-26.582-26.939-26.582-49.201 0-29.33 19.081-53.122 42.619-53.122 23.532 0 42.61 23.793 42.61 53.122 0 22.078-10.802 41-26.175 49.017l1.442 7.716c12.172 14.16 60.486 15.082 60.486 71.034z" data-name="Profile Male"/></svg></a>
               <div class="profiledropdown">
                  <div class="profile-and-username">
                    <svg xmlns="http://www.w3.org/2000/svg" class="course-image" viewBox="0 0 512 512"><path d="M256 73.825c-100.613 0-182.18 81.562-182.18 182.17a182.18 182.18 0 0 0 364.36 0c0-100.608-81.572-182.17-182.18-182.17zm.553 268.12h-78.93c0-56.91 49.98-56.901 61.07-71.773l1.27-6.793c-15.582-7.893-26.582-26.939-26.582-49.201 0-29.33 19.081-53.122 42.619-53.122 23.532 0 42.61 23.793 42.61 53.122 0 22.078-10.802 41-26.175 49.017l1.442 7.716c12.172 14.16 60.486 15.082 60.486 71.034z" data-name="Profile Male"/></svg>
                    <div class="username-and-name">
                         <p>username</p>
                         <p>name</p>
                    </div>
                  </div>
                  <a href="">Edit Profile</a>
                  <a href="">Log Out</a>
                  <a href="">View Dout</a>
               </div>
            </li>
        </ul>
        <div class="small_dropdown">
            <div class="hamburger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          
            <div class="dropdown-content">
              <a (click)="toggleDropdown()">Categories
                <div class="responsivedropdown">
                  <ul class="dropdown-menu" *ngIf="isOpen">
                    <li *ngFor="let option of options" (click)="selectOption(option)">
                      {{ option }}
                      <ul class="sub-menu" *ngIf="option === 'Option 1' && isOpen">
                        <li (click)="selectSubOption('Sub Option 1')">Sub Option 1</li>
                        <li (click)="selectSubOption('Sub Option 2')">Sub Option 2</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </a>
              <a href="/login" *ngIf="!loginStatus">Sign-In</a>
              <a href="/mylearning" *ngIf="loginStatus">My learning</a>
              <a href="/wishlistedcourses" *ngIf="loginStatus">Wishlist</a>
            </div>
          </div>            
    </div>
</nav>