<div class="infoElearning" >
   <div class="content">
    <h1 class="heading">Take Advantage of Online Learning</h1>
    <p>Elevate your learning experience with our dynamic e-learning platform, where expert instructors, engaging video lessons,
       and interactive exercises come together to help you master in-demand skills at your own pace. Whether you're exploring technology, business, or personal development, 
      our flexible courses empower you to grow, achieve certifications, and advance your career from anywhere in the world. 
    </p>
  </div>
  <img src="assets/Screenshot (269).png"  class="animation" id="big" alt="">
</div>